<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Chat Application</title>
</head>

<body>

<form th:object="${chatForm}" action="#"  th:action="@{/chat}"   method="POST"  >

    <!--
        <label for="username">Username:</label>
        <input id="username" type="text" th:field="*{userName}">
    -->

    <label for="messageText">Message Text:</label>
    <input id="messageText" type="text" th:field="*{messageText}">

    <label for="messageType">Message Type: </label>
    <select id="messageType" th:field="*{messageType}">
        <option
                th:each="type: ${allMessageTypes}"
                th:value="${type}"
                th:text="${type}">

                Say
        </option>
    </select>
    <input type="submit">
</form>

<div th:each="msg : ${messages}">
<span  th:text="${msg.userName}">UserName</span>:
<span th:text="${msg.chatMessage}">Hello, homepage!</span>
</div>

</body>

</html>