<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
<form action="#" th:action="@{'/home'}" th:object="${messageForm}" method="POST">
    <label for="highFiveText">Send a high five to someone: </label>
    <input type="text" id="highFiveText" name="highFiveText" th:field="*{text}">
    <input type="submit">
</form>
<h1 th:each="msg : ${greetings}" th:text="${msg}" th:unless="${msg.contains('Goodbye')}">Hello, homepage!</h1>
</body>
</html>